/* #461e96 */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Gabarito:wght@400..900&family=Inter:wght@100..900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";
/* @plugin "daisyui"; */

@theme static {
  --color-primary: var(--primary-color);
}

:root {
  font-family: 'Bricolage Grotesque', sans-serif;
  line-height: 1.5;


  --primary-color: #461e96;
  --secondary-color: #f5f5f5;
  --tertiary-color: #4CAF50;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*in your global style*/
.app-container {
  display: flex; /* Add flex */
  flex-direction: column; /* Add flex direction */
  min-height: 100vh;  
}


#app {
  margin: 0 auto;
  min-width: 100%;
}

body {
  width: fit-content;
  min-width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



